<?xml version="1.0" encoding="UTF-8"?>
<configuration>
	<substitutionProperty name="log.base" value="/com/edm/logs" />

	<appender name="Console" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
		</layout>
	</appender>

	<appender name="RollingFile" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/edm.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/edm.%d{yyyy-MM-dd}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%date [%thread] %-5level %logger{80} - %msg%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
		
<!-- 	<appender name="Active" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/active.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/active/%d{yyyyMMddHHmm}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender>
	
	<appender name="Form" class="ch.qos.logback.core.rolling.RollingFileAppender">
		<File>${log.base}/form.log</File>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<FileNamePattern>${log.base}/form/%d{yyyyMM}.log</FileNamePattern>
		</rollingPolicy>
		<encoder>
			<pattern>%m%n</pattern>
			<charset>UTF-8</charset>
		</encoder>
	</appender> -->

	<root>
		<level value="ERROR" />
		<appender-ref ref="Console" />
		<appender-ref ref="RollingFile" />
	</root>
    
    <logger name="com.edm" level="INFO" />
    <logger name="java.sql.Connection" level="DEBUG" />
    
<!--     <logger name="cn.edm.app.logger.ActiveLogger" level="INFO">
		<appender-ref ref="Active" />
    </logger>
    
    <logger name="cn.edm.app.logger.FormLogger" level="INFO">
		<appender-ref ref="Form" />
    </logger> -->

</configuration>