<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<#assign sec=JspTaglibs["http://www.springframework.org/security/tags"] />
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<#include "/common/meta.html" />
<title>${pageTitle} - 首页</title>
<#include "/common/css.html" />
<#include "/common/js.html" />
</head>

<body>
	<#include "/top.html" />
	<div id="wrapper" class="clearfix">
		<#include "/left.html" />
		<div id="main" class="clearfix" style="position:relative">
			<#assign step_css = "margin-right: 0px;" />
			<!--
			<#if view.funcAuth('mailing/task/page', 2) && view.funcAuth('mailing/template/page', 0)
				&& view.funcAuth('datasource/tag/page', 0) && view.funcAuth('datasource/prop/page', 0)
				&& view.funcAuth('datasource/filter/page', 0) && view.funcAuth('datasource/selection/page', 0)>
				<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_BSN,ROLE_BUK,ROLE_ALL">
				<#assign step_css = "" />
				<div class="rightcol">
					<h1 class="title_index icon icon_guid border_b">群发任务功能指引</h1>
					<ul class="flowsheet clearfix">
						<#if _3 || _2>
						<li>
							<#if _3>
							<div class="guid guid_1">
								<a href="${ctx}/mailing/template/add">
									<span class="summry">设计邮件模板</span>
									<span>对投递的邮件进行设计</span>
								</a>
							</div>
							</#if>
							<#if _2>
							<div class="guid guid_2">
								<a href="${ctx}/datasource/selection/import">
									<span class="summry">准备投递对象</span>
									<span>导入收件人到标签</span>
								</a>
							</div>
							</#if>
						</li>
						</#if>
						<#if _4>
						<li>
							<div class="guid guid_3">
								<a href="${ctx}/mailing/task/add">
									<span class="summry">创建群发任务</span>
									<span>组合投递内容与对象进行群发</span>
								</a>
							</div>
						</li>
						</#if>
						<#if _4 || _6 || _7>
						<li>
							<#if _4>
							<div class="guid guid_4">
								<a href="${ctx}/mailing/task/page">
									<span class="summry">任务查询</span>
									<span>根据权限任务可能需要审核</span>
								</a>
							</div>
							</#if>
							<#if _6 || _7>
							<div class="guid guid_5">
								<#assign action = "triger" />
								<#if _6>
									<#assign action = "task" />
								</#if>
								<a href="${ctx}/report/${action}/page">
									<span class="summry">数据查询</span>
									<span>投递后查询数据报告</span>
								</a>
							</div>
							</#if>
						</li>
						</#if>
					</ul>
					<#if _10>
					<div class="one_stop">
						<dl>
							<dd>
								<p class="highlight">想更简单省心？</p>
								<p class="highlight">可点击开始一站式任务模式</p>
								<div>
									<input type="button" value="现在开始" onclick="location.href='/step/1'" />
								</div>
							</dd>
						</dl>
					</div>
					</#if>
				</div>
				</@sec.authorize>
			</#if>
			 -->
			<div class="leftcol" style="${step_css}" >
			<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_BSN,ROLE_BUK,ROLE_ALL">
				<#if _0>
					<#--
					<#assign account = "群发人员" />
					<@sec.authorize ifAnyGranted="ROLE_ADM">
						<#assign account = "管理员" />
					</@sec.authorize>
					<@sec.authorize ifAnyGranted="ROLE_MGR">
						<#assign account = "企业管理员" />
					</@sec.authorize>
					<@sec.authorize ifAnyGranted="ROLE_BSN">
						<#assign account = "运营专员" />
					</@sec.authorize>
					-->
					<#assign account = "${currentUser.role.roleName}" />
					<h1 class="title_index icon icon_money border_b"><span><a href="${ctx}/account/profile/view">详细</a></span>${xss.filter(company)}：${account}</h1>
					<#if view.funcAuth('mailing/task/page', 2)>
					<ul class="summary m_t10 m_b40">
						<#assign totalSend = "不限" />
						<#assign balance1 = "不限" />
						<#assign percent1 = 100 />
						<#if cos.totalSend != -1>
							<#assign totalSend = cos.totalSend?default(0)?string(",##0") />
							<#assign balance1 = (cos.totalSend?default(0) - totalSent?default(0))?string(",##0") + "&nbsp;封" />
							<#assign percent1 = (cos.totalSend?default(0) - totalSent?default(0)) * 100 / cos.totalSend?default(0) />
						</#if>
						
						<#assign monthSend = "不限" />
						<#assign balance2 = "不限" />
						<#assign percent2 = 100 />
						<#if cos.monthSend != -1>
							<#assign monthSend = cos.monthSend?default(0)?string(",##0") />
							<#assign balance2 = (cos.monthSend?default(0) - monthSent?default(0))?string(",##0") + "&nbsp;封" />
							<#assign percent2 = (cos.monthSend?default(0) - monthSent?default(0)) * 100 / cos.monthSend?default(0) />
						</#if>
						
						<#assign daySend = "不限" />
						<#assign balance3 = "不限" />
						<#assign percent3 = 100 />
						<#if cos.daySend != -1>
							<#assign daySend = cos.daySend?default(0)?string(",##0") />
							<#assign balance3 = (cos.daySend?default(0) - daySent?default(0))?string(",##0") + "&nbsp;封" />
							<#assign percent3 = (cos.daySend?default(0) - daySent?default(0)) * 100 / cos.daySend?default(0) />
						</#if>
						
						<ol class="account_list">
							<li><p>剩余发送总量：${balance1}</p></li>
							<li><p>月剩余发送量：${balance2}</p></li>
							<li><p>日剩余发送量：${balance3}</p></li>	
						</ol>
						<ol class="account_list spe_acc_list">
							<li>
								<div class="record" style="z-index:30">
									<div class="outer"><div class="inner" style="width: ${percent1}%"></div></div>
									<div class="global_tips rec_tips">
										剩余&nbsp;${percent1}&nbsp;%<br />最大发送总量&nbsp;${totalSend}
										<div class="triangle-border right-triangle-border">
									        <div class="triangle right-triangle"></div>
									    </div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="record"  style="z-index:20">
									<div class="outer"><div class="inner" style="width: ${percent2}%"></div></div>
									<div class="global_tips rec_tips">
										剩余&nbsp;${percent2}&nbsp;%<br />月最大发送量&nbsp;${monthSend}
										<div class="triangle-border right-triangle-border">
									        <div class="triangle right-triangle"></div>
									    </div>
									</div>
								</div>
							</li>
							
							<li>
								<div class="record"  style="z-index:10">
									<div class="outer"><div class="inner" style="width: ${percent3}%"></div></div>
									<div class="global_tips rec_tips">
										剩余&nbsp;${percent3}&nbsp;%<br />日最大发送量&nbsp;${daySend}
										<div class="triangle-border right-triangle-border">
									        <div class="triangle right-triangle"></div>
									    </div>
									</div>
								</div>
							</li>
						</ol>
						<div style="clear:left"></div>
					</ul>
					</#if>
				</#if>
			</@sec.authorize>
			
			<#if view.funcAuth('mailing/audit/page', 0)>
				<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_ALL">
					<#if _5>
					<#if waitedPage.result?? && waitedPage.result?size gt 0>
					<h1 class="title_index icon icon_time border_b"><span><a href="/mailing/audit/page?m=waited">更多</a></span>等待您审核的任务</h1>
					<ul class="summary m_t10 m_b40">
						<#list waitedPage.result as t>
						<li><a href="/mailing/audit/page?m=waited&taskName=${xss.filter(t.taskName)?url('utf-8')}&nameCnd=eq">${xss.filter(t.taskName)}【${xss.filter(t.userId)}】</a></li>
						</#list>
					</ul>
					</#if>
					<#if completedPage.result?? && completedPage.result?size gt 0>
					<#assign mgr = false />
					<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_ALL">
						<#assign mgr = true />
					</@sec.authorize>
					<h1 class="title_index icon icon_time border_b"><span><a href="/mailing/audit/page?m=completed">更多</a></span>已审核的任务</h1>
					<ul class="summary m_t10 m_b40">
						<#list completedPage.result as t>
						<#if mgr>
						<li><a href="/mailing/audit/page?m=completed&taskName=${xss.filter(t.taskName)?url('utf-8')}&nameCnd=eq">${xss.filter(t.taskName)}【${view.task_status(t.status)}】</a></li>
						<#else>
						<li><a href="/mailing/task/page?m=proofing&taskName=${xss.filter(t.taskName)?url('utf-8')}&nameCnd=eq">${xss.filter(t.taskName)}【${view.task_status(t.status)}】</a></li>
						</#if>
						</#list>
					</ul>
					</#if>
					</#if>
				</@sec.authorize>
			</#if>
			
			<#if view.funcAuth('report/task/page', 1)>
				<#if _6>
					<#if reportPage.result?? && reportPage.result?size gt 0>
						<h1 class="title_index icon icon_data border_b"><span><a href="/report/task/page">更多</a></span>最近投递的数据报告</h1>
						<ul class="summary m_t10 m_b40">
							<#list reportPage.result as t>
							<li><a href="/report/task/page?taskName=${xss.filter(t.taskName)?url('utf-8')}&nameCnd=eq">${xss.filter(t.taskName)}【${xss.filter(t.subject)}】</a></li>
							</#list>
						</ul>
					</#if>
				</#if>
			</#if>
			
			<#if _0>
			<#if historyPage.result?? && historyPage.result?size gt 0>
				<h1 class="title_index icon icon_lock border_b"><span><a href="/account/history/page">更多</a></span>最近登录信息</h1>
				<ul class="summary m_t10">
					<#list historyPage.result as h>
					<li>${xss.filter(h.userId)}，登录IP ${h.loginIp}，在<#if h.region?? && h.region?length gt 0>${h.region}<#else>局域网</#if>登录，时间${h.loginTime?datetime}</li>
					</#list>
				</ul>
			</#if>
			</#if>
			</div>
		</div>
	</div>
	<div class="select_div"></div>
</body>
</html>
