<#assign sec=JspTaglibs["http://www.springframework.org/security/tags"] />
<ul id="nav">
	<li><a href="${ctx}/">首页</a></li>
	
	<#list currentUser.menus as menu>
		<#if menu.parentId==0 && menu.dataCate?exists>
			<li class="subwrap" data-cate="${menu.dataCate}">
				<a class="sublink" href="javascript:void(0)">${menu.name}</a>
				<ul>
					<#list currentUser.menus as m>
						<#if m.parentId!=0 && menu.menuId==m.parentId>
							<li>
								<a href="${ctx}/${m.url}">${m.name}</a>
							</li>
						</#if>
					</#list>
				</ul>
			</li>
		</#if>
	</#list>
	<!-- 
	<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_BSN,ROLE_BUK">
	<li class="subwrap" data-cate="datasource">
		<a class="sublink" href="javascript:void(0)">数据管理</a>
		<ul>
			<li><a href="${ctx}/datasource/tag/page">收件人</a></li>
			<li><a href="${ctx}/datasource/prop/page">属性</a></li>
			<li><a href="${ctx}/datasource/filter/page">过滤器</a></li>
			<li><a href="${ctx}/datasource/selection/page">筛选</a></li>
			<li><a href="${ctx}/datasource/form/page">表单</a></li>
		</ul>
	</li>
	<li class="subwrap" data-cate="mailing">
		<a class="sublink" href="javascript:void(0)">邮件管理</a>
		<ul>
			<li><a href="${ctx}/mailing/template/page">模板</a></li>
			<li><a href="${ctx}/mailing/task/page">任务</a></li>
			<li><a href="${ctx}/mailing/campaign/page">活动</a></li>
			<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR">
			<li><a href="${ctx}/mailing/audit/page">审核</a></li>
			</@sec.authorize>
		</ul>
	</li>
	</@sec.authorize>
	<li class="subwrap" data-cate="report">
		<a class="sublink" href="javascript:void(0)">数据报告</a>
		<ul>
			<li><a href="${ctx}/report/local/sum">总览</a></li>
			<li><a href="${ctx}/report/task/page">任务</a></li>
			<#if currentUser.triger>
			<li><a href="${ctx}/report/triger/page">API</a></li>
			<#elseif currentUser.join>
			<li><a href="/report/task/page?m=join">API</a></li>
			</#if>
			<li><a href="${ctx}/report/campaign/page">活动</a></li>
			<li><a href="${ctx}/report/touch/page">触发计划</a></li>
		</ul>
	</li>
	<li class="subwrap" data-cate="account">
		<a class="sublink" href="javascript:void(0)">账户管理</a>
		<ul>
			<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_BSN,ROLE_BUK">
			<li><a href="${ctx}/account/profile/view">账户</a></li>
			</@sec.authorize>
			<li><a href="${ctx}/account/profile/add">资料</a></li>
			<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR">
			<li><a href="${ctx}/account/user/page">子账号</a></li>
			</@sec.authorize>
			<@sec.authorize ifAnyGranted="ROLE_ADM,ROLE_MGR,ROLE_BSN,ROLE_BUK">
			<#if currentUser.senderValidate>
			<li><a href="${ctx}/account/sender/page">发件人</a></li>
			</#if>
			</@sec.authorize>
			<li><a href="${ctx}/account/history/page">历史</a></li>
			<li><a href="${ctx}/account/password/add">密码</a></li>
		</ul>
	</li>
	-->
</ul>
