<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
   <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
   <title>后台信息管理系统</title>
   <link href="../css/style.css" rel="stylesheet" type="text/css" />
   <script type="text/javascript" src="../js/jquery.js"></script>
   <script type="text/javascript" src="../js/cloud.js"></script>
   <script language="javascript" type="text/javascript">
        $(function () {
            $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            $(window).resize(function () {
                $('.loginbox').css({ 'position': 'absolute', 'left': ($(window).width() - 692) / 2 });
            })
        });

        function refresh() {
        	$("input[name=TxtCode]").val("");
        	$("input[name=TxtCode]").focus();
        	var version = new Date().getTime();
        	$("#GetCodePic").attr("src", "/kaptcha.jpg?" + version);
        }
   </script>
</head>
<body style="background-color: rgb(28, 119, 172); background-image: url(./images/light.png); background-repeat: no-repeat; background-position: -69.3px 0px; overflow: hidden;">
    <form name="form1" method="post" action="${ctx}/j_spring_security_check" id="form1">
    <div>
        <input type="hidden" name="__VIEWSTATE" id="__VIEWSTATE" value="/wEPDwULLTEzNzI4ODg2OTRkZKt9iKKQCkDpsT6tFv26+x7MDinNvzDDlecLLQyvA5S+" />
    </div>
    <div>
	    <input type="hidden" name="__VIEWSTATEGENERATOR" id="__VIEWSTATEGENERATOR" value="163CF246" />
    </div>
    <div id="mainBody">
            <div id="cloud1" class="cloud" style="background-position: 558.9px 100px;"></div>
            <div id="cloud2" class="cloud" style="background-position: 99px 460px;"></div>
        </div>
        <div class="loginbody">
            <span style="display:block;width: 100%; height: 93px;margin-top: 75px;text-align:center;">                 
                    <img src="./images/logintitle.png" alt="公司logo" width="365px" height="100px" />                    
            </span>
            <div class="loginbox" style="position: absolute; left: 614px;">
                <ul>
                    <li><span></span></li>
                    <li>用户名：<input name="txtUsername" type="text" id="txtUsername" class="loginuser" /></li>
                    <li>密　码：<input name="txtPassword" type="password" id="txtPassword" class="loginpwd" /></li>
                    <li>验证码：<input name="TxtCode" type="text" maxlength="4" id="TxtCode" class="loginpwd" style="width:90px;" />
                         <img src="${ctx}/kaptcha.jpg" border="0" style="margin-left: 5px; margin-top: -10px" align="middle" id="GetCodePic" alt="验证码,点击可刷新验证码" onclick="refresh();" />                      
                    </li>
                    <li>
                        <input type="submit" name="btnLogin" value="登 录" id="btnLogin" class="loginbtn" />
                        <input type="submit" name="btnReset" value="重 置" id="btnReset" class="loginbtn" />
                    </li>
                </ul>
            </div>
        </div>
    </form>
    
</body>
</html>