<script type="text/javascript" src="${ctx}/static/js/jquery/jquery-1.7.1.min.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/jquery/jquery.form-min.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/jquery/jquery-ui-1.8.22.custom.min.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/common/base.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/common/select.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/common/jquery.edm.search.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/common/cycle.time.js?${version}"></script>
<script type="text/javascript" src="${ctx}/static/js/common/pagination.js?${version}"></script>
<!--[if IE 6]>
<script src="${ctx}/static/js/common/DD_belatedPNG_0.0.8a-min.js"></script>
<script>
	DD_belatedPNG.fix('.loading_bg,.edit a,#msg_bg');
</script>
<![endif]-->
<script type="text/javascript">
	var headers = {};
	headers['token'] = "${token}";
</script>
