<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="Cache-Control" content="no-store" />
<meta http-equiv="Pragma" content="no-cache" />
<meta http-equiv="Expires" content="0" />
<link href="/static/img/favicon.gif" type="image/x-icon" rel="shortcut icon" />
<#assign pageTitle = "M.target做中国最优秀的邮件营销平台" />
<#assign version = "1407462748918" />

<#assign _0 = view.auth("/account/history") || view.auth("/account/password") || view.auth("/account/profile") || view.auth("/account/sender") />
<#assign _1 = view.auth("/account/user") />
<#assign _2 = view.auth("/datasource") />
<#assign _3 = view.auth("/mailing/category") || view.auth("/mailing/template") />
<#assign _4 = view.auth("/mailing/task") />
<#assign _5 = view.auth("/mailing/audit") />
<#assign _6 = view.auth("/report/task") />
<#assign _7 = view.auth("/report/triger") />
<#assign _8 = view.auth("/report/detail") />
<#assign _9 = view.auth("/report/export") />
<#assign _10 = view.auth("/step") />
